{% extends 'tapasapp/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-8">

    <div class="card">
        <div class="card-header">
            <h5 class="card-title"> Account Details:</h5>
        </div>
        <div class="card-body">

            <h2> {{a.username}} </h2>
            <p>
                Password: {{a.password}}
            </p>
           
            <p>
                <a href="{% url 'manage_account' pk=a.pk %}"  class="btn btn-success">Manage</a>
                <a href="{% url 'login' %}"  class="btn btn-danger">Logout</a>

            </p>
            
        </div>
    </div>

</div>
{% endblock %}
